@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap");

body {
  font-family: "Spartan", sans-serif;
}
.logo {
  margin-bottom: -30px;

}
.top {
  margin-top: 0px;
  font-size: 25px;
}

body {
  margin: 0px;
  padding: 0px;
  margin: 0;
  height: 100vh;
  display: flex;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-image: url('Images/girlchild.jpeg');
  color: white;
}
.logo img {
  display: flex;
  margin-top: 0px;
  font-weight: 600;

}
.logo2 {
    height: 100px;
    width: 100px;
}

.w3-hide-small {
  margin-top: 50px;
}

img {
  margin-left: 60px;
  margin-right: 160px;
  height: 100px;
  width: 100px;
}

.top {
    display: flex;
}
a{
    height: 60px;
    margin-right: 30px;
    font-size: 30px;
    font-weight: 400;

}